@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: local("League Spartan"),
    url("/fonts/league-spartan-v15-latin-700.woff2") format("woff2");
}
