@use 'typography';

html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: inherit;
}

.calculator-app {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;

  font-family: typography.$font-stack;
  font-weight: typography.$font-weight-700;

  transition: 0.1s;

  .wrapper {
    flex-basis: 30rem;
    display: grid;
    gap: 1rem;
    transition: inherit;
  }
}